@model IEnumerable<VotoModelos.Votante>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstaHabilitado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YaVoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenVerificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstaHabilitado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YaVoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagenVerificacion)
            </td>
                @if (!string.IsNullOrEmpty(item.ImagenVerificacion) && item.ImagenVerificacion != "N/A")
                {
                    <img src="@item.ImagenVerificacion"
                         style="width:60px; height:60px; border-radius:50%; object-fit:cover; border: 1px solid #ddd;"
                         alt="Foto" />
                }
                else
                {
                    <span class="badge bg-secondary">Sin foto</span>
                }
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
