@model IEnumerable<VotoModelos.Voto>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdOpcionElectoral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VotoEncriptado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOpcionElectoral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VotoEncriptado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVoto)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
