@model IEnumerable<VotoModelos.ProcesoElectoral>

@{
    ViewData["Title"] = "Elegir Proceso";
}

<h2>Elegir Proceso (Opciones Electorales)</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Nombre</td>
                <td>@p.TipoEleccion</td>
                <td>@(p.Estado ? "ACTIVO" : "CERRADO")</td>
                <td>
                    <a class="btn btn-sm btn-primary"
                       asp-action="Index"
                       asp-route-idProceso="@p.Id">
                        Administrar Opciones
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
