@{
    ViewData["Title"] = "Asignar Roles";
}

<h2>Asignar Roles</h2>

@if (TempData["msg"] != null)
{
    <div class="alert alert-info">@TempData["msg"]</div>
}

<hr />

<h4>ADMIN</h4>
<form asp-action="HacerAdmin" method="post">
    @Html.AntiForgeryToken()
    <label>IdVotante</label>
    <input name="idVotante" type="number" class="form-control" required />
    <br />
    <button type="submit" class="btn btn-success">Hacer ADMIN</button>
</form>

<form asp-action="QuitarAdmin" method="post" style="margin-top:10px">
    @Html.AntiForgeryToken()
    <label>IdVotante</label>
    <input name="idVotante" type="number" class="form-control" required />
    <br />
    <button type="submit" class="btn btn-danger">Quitar ADMIN</button>
</form>

<hr />

<h4>CANDIDATO</h4>
<form asp-action="HacerCandidato" method="post">
    @Html.AntiForgeryToken()
    <label>IdVotante</label>
    <input name="idVotante" type="number" class="form-control" required />

    <label>Partido</label>
    <input name="partido" class="form-control" />

    <label>Eslogan</label>
    <input name="eslogan" class="form-control" />

    <br />
    <button type="submit" class="btn btn-success">Hacer CANDIDATO</button>
</form>

<form asp-action="QuitarCandidato" method="post" style="margin-top:10px">
    @Html.AntiForgeryToken()
    <label>IdVotante</label>
    <input name="idVotante" type="number" class="form-control" required />
    <br />
    <button type="submit" class="btn btn-danger">Quitar CANDIDATO</button>
</form>
